write python script with list comprehension for the following:
1.is given list divisible by 3 or not?
2. display multiplicaton table of 15
3. square of even nmbers in a list
4. sum of digits of all even numbers in a lost
5. remove duplicate numbers in a list.

In [10]:
list_num = []
in_list=int(input("Enter the number upto which you want to find the integers divisble by 3: "))
for x in range(in_list):
    if x % 3 == 0:
        list_num.append(x)
print(list_num)

Enter the number upto which you want to find the integers divisble by 3: 12
[0, 3, 6, 9]

In [8]:
num=15
print("Table of 15: ")
for i  in range(1,11):
  print(num,'x',i,'=',num*i)

Table of 15:
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [22]:
sq_ls=[12,44,21,1,3,22,12,12]
print("Square of even numbers in given list ")
for i in sq_ls:
  if i%2==0:
    print(i*i)

Square of even numbers in given list
144
1936
484
144
144

In [20]:
l1=[]
sum=0
even_list=int(input("Enter number of digits you want to enter: "))
for x in range(1,even_list):
  if x%2==0:
    l1.append(x)
    sum=sum+x
print(sum)

Enter number of digits you want to enter: 10
20

In [23]:
rr=[*set(sq_ls)]
print("list after removing duplicates: ",rr)

list after removing duplicates:  [1, 3, 12, 44, 21, 22]