Import the given “Salaries.csv” file using pandas and perform the following using NumPy.

a) Create structured array of Salaries

b) Find the structure of the array created

c) Find the number of attributes and samples in the given dataset

d) Select and display the following
  
    a. All rows of first four attributes
  
    b. First 5 attributes and all samples
  
    c. 11 to 15 samples from attribute-4 and attribute-8
  
    d. 10 sample and 5 th attribute
  
    e. Extract attribute 4 and 5 and create a new array
  
    f. Give the summary of the Salaries dataset using any statistical/aggregation functions

g) Which job has the maximum Salary?

h) What is the average of the remote ratio?

i) Find the average of remote_ratio attribute

j) How many unique jobs are available?

k) Which company location has the minimum salary in USD?

l) How many members employment type is PT?

m) How many different categories of company size you can find in the dataset?

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/Salaries.csv')

In [ ]:
workyear=np.array(data['work_year'])[:50]
workexperience=np.array(data['experience_level'])[:50]
worktype=np.array(data['employment_type'])[:50]
jobtitle=np.array(data['job_title'])[:50]
salary=np.array(data['salary'])[:50]
salaryusd=np.array(data['salary_in_usd'])[:50]
residence=np.array(data['employee_residence'])[:50]
companylocation=np.array(data['company_location'])[:50]
companysize=np.array(data['company_size'])[:50]
datastruct=np.zeros(50,dtype={'names':('work_year','experience_level','employment_type','job_title','salary(usd)','residence','location','size'),'formats':('i4','U20','U20','U20','i4','U20','U20','U20')})

In [ ]:
datastruct['work_year']=workyear
datastruct['experience_level']=workexperience
datastruct['employment_type']=worktype
datastruct['job_title']=jobtitle
datastruct['salary(usd)']=salaryusd
datastruct['residence']=residence
datastruct['location']=companylocation
datastruct['size']=companysize
print(datastruct)

[(2020, 'MI', 'FT', 'Data Scientist',  79833, 'DE', 'DE', 'L')
 (2020, 'SE', 'FT', 'Machine Learning Sci', 260000, 'JP', 'JP', 'S')
 (2020, 'SE', 'FT', 'Big Data Engineer', 109024, 'GB', 'GB', 'M')
 (2020, 'MI', 'FT', 'Product Data Analyst',  20000, 'HN', 'HN', 'S')
 (2020, 'SE', 'FT', 'Machine Learning Eng', 150000, 'US', 'US', 'L')
 (2020, 'EN', 'FT', 'Data Analyst',  72000, 'US', 'US', 'L')
 (2020, 'SE', 'FT', 'Lead Data Scientist', 190000, 'US', 'US', 'S')
 (2020, 'MI', 'FT', 'Data Scientist',  35735, 'HU', 'HU', 'L')
 (2020, 'MI', 'FT', 'Business Data Analys', 135000, 'US', 'US', 'L')
 (2020, 'SE', 'FT', 'Lead Data Engineer', 125000, 'NZ', 'NZ', 'S')
 (2020, 'EN', 'FT', 'Data Scientist',  51321, 'FR', 'FR', 'S')
 (2020, 'MI', 'FT', 'Data Scientist',  40481, 'IN', 'IN', 'L')
 (2020, 'EN', 'FT', 'Data Scientist',  39916, 'FR', 'FR', 'M')
 (2020, 'MI', 'FT', 'Lead Data Analyst',  87000, 'US', 'US', 'L')
 (2020, 'MI', 'FT', 'Data Analyst',  85000, 'US', 'US', 'L')
 (2020, 'MI', 'FT', 'Data Analyst',   8000, 'PK', 'PK', 'L')
 (2020, 'EN', 'FT', 'Data Engineer',  41689, 'JP', 'JP', 'S')
 (2020, 'SE', 'FT', 'Big Data Engineer', 114047, 'PL', 'GB', 'S')
 (2020, 'EN', 'FT', 'Data Science Consult',   5707, 'IN', 'IN', 'M')
 (2020, 'MI', 'FT', 'Lead Data Engineer',  56000, 'PT', 'US', 'M')
 (2020, 'MI', 'FT', 'Machine Learning Eng',  43331, 'CN', 'CN', 'M')
 (2020, 'MI', 'FT', 'Product Data Analyst',   6072, 'IN', 'IN', 'L')
 (2020, 'SE', 'FT', 'Data Engineer',  47899, 'GR', 'GR', 'L')
 (2020, 'MI', 'FT', 'BI Data Analyst',  98000, 'US', 'US', 'M')
 (2020, 'MI', 'FT', 'Lead Data Scientist', 115000, 'AE', 'AE', 'L')
 (2020, 'EX', 'FT', 'Director of Data Sci', 325000, 'US', 'US', 'L')
 (2020, 'EN', 'FT', 'Research Scientist',  42000, 'NL', 'NL', 'L')
 (2020, 'SE', 'FT', 'Data Engineer',  33511, 'MX', 'MX', 'S')
 (2020, 'EN', 'CT', 'Business Data Analys', 100000, 'US', 'US', 'L')
 (2020, 'SE', 'FT', 'Machine Learning Man', 117104, 'CA', 'CA', 'L')
 (2020, 'MI', 'FT', 'Data Engineering Man',  59303, 'DE', 'DE', 'S')
 (2020, 'EN', 'FT', 'Big Data Engineer',  70000, 'US', 'US', 'L')
 (2020, 'SE', 'FT', 'Data Scientist',  68428, 'GR', 'US', 'L')
 (2020, 'MI', 'FT', 'Research Scientist', 450000, 'US', 'US', 'M')
 (2020, 'MI', 'FT', 'Data Analyst',  46759, 'FR', 'FR', 'L')
 (2020, 'MI', 'FT', 'Data Engineer',  74130, 'AT', 'AT', 'L')
 (2020, 'MI', 'FT', 'Data Science Consult', 103000, 'US', 'US', 'L')
 (2020, 'EN', 'FT', 'Machine Learning Eng', 250000, 'US', 'US', 'L')
 (2020, 'EN', 'FT', 'Data Analyst',  10000, 'NG', 'NG', 'S')
 (2020, 'EN', 'FT', 'Machine Learning Eng', 138000, 'US', 'US', 'S')
 (2020, 'MI', 'FT', 'Data Scientist',  45760, 'PH', 'US', 'S')
 (2020, 'EX', 'FT', 'Data Engineering Man',  79833, 'ES', 'ES', 'L')
 (2020, 'MI', 'FT', 'Machine Learning Inf',  50180, 'PT', 'PT', 'M')
 (2020, 'MI', 'FT', 'Data Engineer', 106000, 'US', 'US', 'L')
 (2020, 'MI', 'FT', 'Data Engineer', 112872, 'GB', 'GB', 'L')
 (2020, 'EN', 'PT', 'ML Engineer',  15966, 'DE', 'DE', 'S')
 (2020, 'MI', 'FT', 'Data Scientist',  76958, 'GB', 'GB', 'S')
 (2020, 'SE', 'FT', 'Data Engineer', 188000, 'US', 'US', 'L')
 (2020, 'MI', 'FT', 'Data Scientist', 105000, 'US', 'US', 'L')
 (2020, 'MI', 'FT', 'Data Engineer',  70139, 'FR', 'FR', 'L')]

In [ ]:
datastruct.shape

(50,)

In [ ]:
datastruct.columns

AttributeError: ignored