In [ ]:
import numpy as np
import pandas as pd
df= pd.read_csv('/content/Salaries - Salaries.csv')
print(df.dtypes)
print(df.columns)

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object
Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
#a)
sa=np.zeros(607,dtype={'names':('work_year','experience_level','employment_type','job_title','salary','salary_currency','salary_in_usd','employee_residence','remote_ratio','company_location','company_size'),
            'formats':('int64','object','object','object','int64','object','int64','object','int64','object','object')})
sa['work_year']=df['work_year']
sa['experience_level']=df['experience_level']
sa['employment_type']=df['employment_type']
sa['job_title']=df['job_title']
sa['salary']=df['salary']
sa['salary_currency']=df['salary_currency']
sa['salary_in_usd']=df['salary_in_usd']
sa['employee_residence']=df['employee_residence']
sa['remote_ratio']=df['remote_ratio']
sa['company_location']=df['company_location']
sa['company_size']=df['company_size']
print(sa[:10])

[(2020, 'MI', 'FT', 'Data Scientist',    70000, 'EUR',  79833, 'DE',   0, 'DE', 'L')
 (2020, 'SE', 'FT', 'Machine Learning Scientist',   260000, 'USD', 260000, 'JP',   0, 'JP', 'S')
 (2020, 'SE', 'FT', 'Big Data Engineer',    85000, 'GBP', 109024, 'GB',  50, 'GB', 'M')
 (2020, 'MI', 'FT', 'Product Data Analyst',    20000, 'USD',  20000, 'HN',   0, 'HN', 'S')
 (2020, 'SE', 'FT', 'Machine Learning Engineer',   150000, 'USD', 150000, 'US',  50, 'US', 'L')
 (2020, 'EN', 'FT', 'Data Analyst',    72000, 'USD',  72000, 'US', 100, 'US', 'L')
 (2020, 'SE', 'FT', 'Lead Data Scientist',   190000, 'USD', 190000, 'US', 100, 'US', 'S')
 (2020, 'MI', 'FT', 'Data Scientist', 11000000, 'HUF',  35735, 'HU',  50, 'HU', 'L')
 (2020, 'MI', 'FT', 'Business Data Analyst',   135000, 'USD', 135000, 'US', 100, 'US', 'L')
 (2020, 'SE', 'FT', 'Lead Data Engineer',   125000, 'USD', 125000, 'NZ',  50, 'NZ', 'S')]

In [ ]:
#b)structure of array
print(sa.shape)
print(sa.size)
print(sa.dtype)

(607,)
607
[('work_year', '<i8'), ('experience_level', 'O'), ('employment_type', 'O'), ('job_title', 'O'), ('salary', '<i8'), ('salary_currency', 'O'), ('salary_in_usd', '<i8'), ('employee_residence', 'O'), ('remote_ratio', '<i8'), ('company_location', 'O'), ('company_size', 'O')]

In [ ]:
#c)
print("Number of attributes:",len(df.columns))
print("Number of samples   :",len(df.index))

Number of attributes: 11
Number of samples   : 607

In [ ]:
#d)a.
print(df.iloc[:,:4])

     work_year experience_level employment_type                   job_title
0         2020               MI              FT              Data Scientist
1         2020               SE              FT  Machine Learning Scientist
2         2020               SE              FT           Big Data Engineer
3         2020               MI              FT        Product Data Analyst
4         2020               SE              FT   Machine Learning Engineer
..         ...              ...             ...                         ...
602       2022               SE              FT               Data Engineer
603       2022               SE              FT               Data Engineer
604       2022               SE              FT                Data Analyst
605       2022               SE              FT                Data Analyst
606       2022               MI              FT                AI Scientist

[607 rows x 4 columns]

In [ ]:
#d)b.
print(df.iloc[:,:5])

     work_year experience_level employment_type                   job_title  \
0         2020               MI              FT              Data Scientist
1         2020               SE              FT  Machine Learning Scientist
2         2020               SE              FT           Big Data Engineer
3         2020               MI              FT        Product Data Analyst
4         2020               SE              FT   Machine Learning Engineer
..         ...              ...             ...                         ...
602       2022               SE              FT               Data Engineer
603       2022               SE              FT               Data Engineer
604       2022               SE              FT                Data Analyst
605       2022               SE              FT                Data Analyst
606       2022               MI              FT                AI Scientist

     salary
0     70000
1    260000
2     85000
3     20000
4    150000
..      ...
602  154000
603  126000
604  129000
605  150000
606  200000

[607 rows x 5 columns]

In [ ]:
#d)c.
print(df.iloc[11:16,[4,8]])

     salary  remote_ratio
11  3000000             0
12    35000             0
13    87000           100
14    85000           100
15     8000            50

In [ ]:
#d)d.
print(df.iloc[10,5])

EUR

In [ ]:
#e)
a4=df.iloc[:,4]
a5=df.iloc[:,5]
newa=np.array((a4,a5))
print(newa[:10])

[[70000 260000 85000 ... 129000 150000 200000]
 ['EUR' 'USD' 'GBP' ... 'USD' 'USD' 'USD']]

In [ ]:
#f)
df.describe()

         work_year        salary  salary_in_usd  remote_ratio
count   607.000000  6.070000e+02     607.000000     607.00000
mean   2021.405272  3.240001e+05  112297.869852      70.92257
std       0.692133  1.544357e+06   70957.259411      40.70913
min    2020.000000  4.000000e+03    2859.000000       0.00000
25%    2021.000000  7.000000e+04   62726.000000      50.00000
50%    2022.000000  1.150000e+05  101570.000000     100.00000
75%    2022.000000  1.650000e+05  150000.000000     100.00000
max    2022.000000  3.040000e+07  600000.000000     100.00000

In [ ]:
#g)
print("Job with max salary:",df.job_title.loc[df['salary_in_usd'].idxmax()])

Job with max salary: Principal Data Engineer

In [ ]:
#h) and i)
print("Remote ratio average=",df['remote_ratio'].mean())

Remote ratio average= 70.92257001647447

In [ ]:
#j)
print("Number of unique jobs:",df.job_title.nunique())

Number of unique jobs: 50

In [ ]:
#k)
print("Company location with min salary:",df.company_location.loc[df['salary_in_usd'].idxmin()])

Company location with min salary: MX

In [ ]:
#l)
print("Number of PT:",df.employment_type.value_counts()['PT'])

Number of PT: 10

In [ ]:
#m)
print("Number of company size categories:",df.company_size.nunique())

Number of company size categories: 3