QUESTION 1:-
You are an excellent “English Linguist” and also love to code in Python. Write a function “connect” that connects each previous word to the next word. Return the resulting string (removing duplicate characters in the overlap). More specifically, look at the overlap between the previous words ending letters and the next word's beginning letters.

In [ ]:
def connect():
  l1=['move','over','very']
  ans=l1[0]+l1[len(l1)-1][len(l1)-1:]
  print("String after overlapping: ",ans)
connect()

String after overlapping:  movery

QUESTION 2:-
Write a Python program to Create two sets A &B and perform the following
Print only unique items from two sets
  print a set of elements present in Set A or B, but not both
  Print common elements from two sets
  Update setB by adding items from setA, except common items

In [ ]:
A={"name","age","number"}
B={"email","age","address","name"}
for x in A:
  if x not in B:
    C=A.union(B)
    print(C)

{'email', 'number', 'address', 'age', 'name'}

In [ ]:
C= A.union(B)
print("Elements in both A&B: ",C)
D=A.intersection(B)
print("Elements common in A&B: ",D)
U1=C-D
U2=D-C
print("Solution: ",U1.union(U2))

Elements in both A&B:  {'email', 'number', 'address', 'age', 'name'}
Elements common in A&B:  {'age', 'name'}
Solution:  {'address', 'number', 'email'}

In [ ]:
print("Common elements in A&B: ",D)

Common elements in A&B:  {'age', 'name'}

In [ ]:
B.update(U2)
print(B)

{'address', 'email', 'age', 'name'}


QUESTION 3:-
DNA sequences consist of four base type molecules,which can be represented by the letters A,C,G and T,respectively. Write a Function,countbase,which takes a string argument representing a DNA sequence, and returns adict that contains the count of each base, with the base letter being the key and the count as the value.

In [ ]:
def countbase():
  adict={}
  sequence=input("Enter the DNA string input (A,C,G,T only): ")
  for i in sequence:
    if i in adict:
      adict[i]+=1
    else:
      adict[i]=1
  print("The dictionary so formed is: " +str(adict))
countbase()

Enter the DNA string input (A,C,G,T only): ACGTGGGAGTC
The dictionary so formed is: {'A': 2, 'C': 2, 'G': 5, 'T': 2}

QUESTION 4:-

Write a python script to create a dictionary
And perform the following 
Print the status of a given interface
Print all the interface and IP whose status is up
Give the count of ethernet interface

In [ ]:
dict_four={1:{'Interface':'Ethernet0','IP':'1.1.1.1','Status':'Up'},
    2:{'Interface':'Ethernet1','IP':'2.2.2.2','Status':'Down'},
    3:{'Interface':'Serial0','IP':'3.3.3.3','Status':'Up'},
    4:{'Interface':'Serial1','IP':'4.4.4.4','Status':'Up'}}

st=input("Enter the interface: ")
for i in dict_four:
  if dict_four[i]['Interface']==st:
    print(dict_four[i]["Status"])

print("All the INTERFACE and IP whose STATUS is UP...")
for i in dict_four:
  if dict_four[i]['Status']=='Up':
    print("Interface:",dict_four[i]["Interface"],"IP:",dict_four[i]["IP"])

c=0
for i in dict_four:
  if "Ethernet" in dict_four[i]['Interface']:
    c+=1

print("Number of ethernet interface: ",c)

Enter the interface: serial0
All the INTERFACE and IP whose STATUS is UP...
Interface: Ethernet0 IP: 1.1.1.1
Interface: Serial0 IP: 3.3.3.3
Interface: Serial1 IP: 4.4.4.4
Number of ethernet interface:  2

QUESTION 5:-
Write a function birthDate() that takes the full name of famous cricketer players (as a string) and their birthdates.You should use this dictionary to store the name of each player.

In [5]:
def birthDate(x):
   players= { 'Virat Kohli': '5 November 1988', 
            'Umesh Yadav': '25 October 1987', 
             'Manish Pandey': '10 September 1989', 
             'Rohit Sharma': '30 April 1987', 
           'Ravindra Jadeja': '6 December 1988', 
           'Hardik Pandya': '11 October 1993'}
   if x in players:
     return players[x]
   else:
     return None

birthDate("Virat Kohli")

'5 November 1988'